<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
</head>
<header>
    <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
        </div>
    </nav>
</header>
<main>
    <body>

    <br>
    <div class="container">
        <form method="POST" id="accountregister-form">
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_balance</i>
                    <input id="txtNumber" type="text" name="txtNumber" placeholder="00000000-0" pattern="[0-9]{8}[-][0-9]{1}" oncopy="return false" oncut="return false"  class="validate" required />
                    <label for="txtNumber">Number Account</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">attach_money</i>
                    <input id="txtbalance" type="number" name="txtbalance" class="validate" max="9999.99" min="0.01" step="any" required/>
                    <label for="txtbalance">Balance</label>
                </div>

                <div class="switch col s12 m6">
                    <i class="material-icons prefix">format_list_bulleted</i>
                    <label for="txttype">Type Account</label>
                    <label>
                        Savings
                        <input id="txttype" type="checkbox">
                        <span class="lever"></span>
                        Ordinary
                    </label>
                </div>

            </div>
            <div class="row center-align">
                <a onclick="registerAccount()" href="#">Register Account</a>
            </div>
        </form>
    </div>

    </body>
</main>
<!--footer-->
<footer class="page-footer blue-grey darken-2" >
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Bank</h5>
            </div>
            <div class="col l4 offset-l2 s12">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright
        </div>
    </div>
</footer>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script type="text/javascript" src="../JS/init.js"></script>
<script type="text/javascript" src="../JS/create_account.js"></script>
</body>
</html>